<div class="container">
  <h2 style="text-align: center;">All my cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <% url = "https://source.unsplash.com/1600x900/?cocktail," + cocktail.name %>
      <div class="col-12 col-sm-6 col-xl-4 mt-2">
        <div class="card">
          <img src=<%= url %> class="card-img-top" alt="my cocktail">
          <div class="card-body">
            <h5 class="name"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
            <%= link_to "See ingredients", cocktail_path(cocktail), class:"btn btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


